@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid {
  padding: 0px 60px;
}

@media screen and (max-width: 1200px) {
  .container-fluid {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 991px) {
  .container-fluid {
    padding: 0px 15px;
  }
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  color: #000;
}

.position-relative {
  position: relative;
}

.mm-wrapper__blocker {
  display: none !important;
}

.header {
  font-size: 40px;
  color: #000;
  margin-bottom: 40px;
  font-family: 'latobold';
  text-align: center;
}

@media screen and (max-width: 450.5px) {
  .header {
    font-size: 30px;
  }
}

@media screen and (max-width: 560px) {
  :root {
    --mm-size: 85% !important;
    --mm-min-size: 174px !important;
    --mm-max-size: 260px !important;
  }
}

nav .mm-panel {
  border-right: solid 1px #ccc;
}

.mm-wrapper--opened .menu-close {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mm-wrapper--opened .menu-close a {
  display: block;
}

.mm-wrapper--opened .menu-close a img {
  width: 13px;
  height: 13px;
}

.mm-wrapper--opened .menu-close:hover {
  background-color: #F9F8F4;
  cursor: pointer;
}

.mm-wrapper--opened li .mm-listitem a {
  font-size: 14px;
}

.navigate-section {
  padding: 10px 0px;
  z-index: 3;
  background-color: #414459;
}

.navigate-section .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .navigate-section .outer {
    display: block;
  }
}

.navigate-section .outer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .navigate-section .outer .left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigate-section .outer .left .logo {
  width: 40px;
  display: inline-block;
}

@media screen and (max-width: 430px) {
  .navigate-section .outer .left .logo {
    width: 27px;
  }
}

.navigate-section .outer .left span {
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .navigate-section .outer .left span {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .navigate-section .outer .left span {
    font-size: 15px;
  }
}

@media screen and (max-width: 380px) {
  .navigate-section .outer .left span {
    font-size: 14px;
  }
}

.navigate-section .outer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .navigate-section .outer .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .navigate-section .outer .right {
    display: block;
  }
}

.navigate-section .outer .right .menu-close {
  display: none;
}

.navigate-section .outer .right .menu-open a {
  border: solid 1px #fff;
  padding: 8px 20px;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 560px) {
  .navigate-section .outer .right .menu-open a {
    width: 84px;
    margin: auto;
    margin-top: 10px;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 430px) {
  .navigate-section .outer .right .menu-open a {
    font-size: 14px;
    width: 80px;
    display: block;
  }
}

.navigate-section .outer .right .menu-open a:hover {
  background-color: #F9F8F4;
  color: #414459;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigate-section .outer .right .mail-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

@media screen and (max-width: 560px) {
  .navigate-section .outer .right .mail-number {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .navigate-section .outer .right .mail-number {
    margin-right: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navigate-section .outer .right .mail-number .group {
  margin-left: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 430px) {
  .navigate-section .outer .right .mail-number .group {
    margin-left: 0;
    font-size: 13px;
  }
}

.navigate-section .outer .right .mail-number .group img {
  width: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 430px) {
  .navigate-section .outer .right .mail-number .group img {
    display: none;
  }
}

.slider-section .banner {
  background: url("../images/new-church1.jpg") no-repeat;
  height: 660px;
  background-size: 100%;
  background-position: bottom;
  background-position: 0px -319px;
}

@media screen and (max-width: 1600px) {
  .slider-section .banner {
    height: 580px;
    background-position: center;
  }
}

@media screen and (max-width: 1367px) {
  .slider-section .banner {
    height: 540px;
  }
}

@media screen and (max-width: 1024px) {
  .slider-section .banner {
    height: 430px;
  }
}

@media screen and (max-width: 767.5px) {
  .slider-section .banner {
    height: 380px;
  }
}

@media screen and (max-width: 670.5px) {
  .slider-section .banner {
    height: 280px;
  }
}

@media screen and (max-width: 490.5px) {
  .slider-section .banner {
    height: 250px;
  }
}

@media screen and (max-width: 430.5px) {
  .slider-section .banner {
    height: 190px;
  }
}

.slider-section .banner.banner2 {
  background: url("../images/church2.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-position: 0px -75px;
}

.slider-section .banner.banner3 {
  background: url("../images/church3.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.slider-section .banner.banner4 {
  background: url("../images/church4.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-position: 0px -204px;
}

@media screen and (max-width: 1280px) {
  .slider-section .banner.banner4 {
    background-position: 0px 0px;
  }
}

.slider-section .banner.banner5 {
  background: url("../images/church5.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-position: center;
}

.slider-section .carousel-indicators {
  bottom: 10px;
}

@media screen and (max-width: 490.5px) {
  .slider-section .carousel-indicators {
    bottom: 0px;
  }
}

@media screen and (max-width: 430.5px) {
  .slider-section .carousel-indicators {
    bottom: -5px;
  }
}

.slider-section .carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  margin: 0px 6px !important;
  border: solid 2px #fff !important;
  border-radius: 50%;
  background-color: #414459 !important;
}

@media screen and (max-width: 490.5px) {
  .slider-section .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
  }
}

.menu-section .mm-panel {
  background-color: #fff;
}

.menu-section .mm-panel .mm-navbar {
  background-color: #fff;
}

.menu-section .mm-panel .mm-navbar a {
  color: #757077;
}

@media screen and (max-width: 450px) {
  .menu-section .mm-panel .mm-listview li {
    font-size: 13px !important;
  }
}

.menu-section .mm-panel .mm-listview li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-section .mm-panel .mm-listview li a:hover {
  color: #414459;
  background-color: #F9F8F4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-section .mm-panel .mm-listview li a:hover::after {
  border-color: #414459;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-section .mm-panel .mm-listview li::after {
  left: 0;
}

.leader-section {
  padding: 50px 0px;
}

.leader-section .leader-group {
  -webkit-box-shadow: 0px 0px 10px #a99f9f;
          box-shadow: 0px 0px 10px #a99f9f;
  margin: 10px 40px;
  padding: 30px;
  border-radius: 10px;
}

@media screen and (max-width: 1800px) {
  .leader-section .leader-group {
    margin: 10px 30px;
  }
}

@media screen and (max-width: 1600px) {
  .leader-section .leader-group {
    margin: 10px 20px;
  }
}

.leader-section .leader-group .image {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  border: solid 2px #414459;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}

.leader-section .leader-group .name {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
  font-size: 18px;
  height: 75px;
}

@media screen and (max-width: 1280px) {
  .leader-section .leader-group .name {
    height: 125px;
  }
}

@media screen and (max-width: 1280px) {
  .leader-section .leader-group .name {
    height: 125px;
  }
}

.leader-section .leader-group .name span {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.leader-section .leader-group .detail {
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 10px;
}

.leader-section .leader-group .content {
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 10px;
}

.leader-section .leader-group a {
  background-color: #414459;
  color: #fff;
  width: 110px;
  display: block;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #414459;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media screen and (max-width: 599px) {
  .leader-section .leader-group a {
    margin: auto;
    margin-top: 20px !important;
  }
}

.leader-section .leader-group a:hover {
  background-color: #fff;
  color: #414459;
}

.leader-section .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: -110px;
  bottom: 0;
  height: 50px;
  margin: auto !important;
  font-size: 52px;
}

.leader-section .owl-nav .owl-prev {
  left: -20px;
  position: absolute;
  background-color: red;
}

@media screen and (max-width: 991px) {
  .leader-section .owl-nav .owl-prev {
    left: -6px;
  }
}

.leader-section .owl-nav .owl-prev span {
  color: grey;
}

.leader-section .owl-nav .owl-prev:hover span {
  color: #414459;
}

.leader-section .owl-nav .owl-next {
  right: -20px;
  position: absolute;
}

@media screen and (max-width: 991px) {
  .leader-section .owl-nav .owl-next {
    right: -6px;
  }
}

.leader-section .owl-nav .owl-next span {
  color: grey;
}

.leader-section .owl-nav .owl-next:hover span {
  color: #414459;
}

.time-section {
  background-color: #414459;
  padding: 40px 0px;
}

.time-section h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.time-section .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1050px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .time-section .group {
    width: 900px;
  }
}

@media screen and (max-width: 1024px) {
  .time-section .group {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .time-section .group {
    display: block;
  }
}

.time-section .group .box {
  width: 250px;
  height: 180px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1280px) {
  .time-section .group .box {
    width: 210px;
  }
}

@media screen and (max-width: 991px) {
  .time-section .group .box {
    width: 230px;
  }
}

@media screen and (max-width: 991px) {
  .time-section .group .box {
    margin: auto;
    margin-bottom: 20px;
  }
}

.time-section .group .box h3 {
  font-size: 22px;
}

.time-section .group .box p {
  margin-bottom: 5px;
}

.organize-section {
  padding: 60px 0px;
}

.organize-section .group .image {
  width: 60px;
  margin: auto;
  margin-bottom: 15px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.organize-section .group a {
  background-color: #414459;
  color: #fff;
  width: 110px;
  display: block;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #414459;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin: auto;
}

.organize-section .group a:hover {
  background-color: #fff;
  color: #414459;
}

@media screen and (max-width: 767.5px) {
  .organize-section .group a {
    margin: auto;
  }
}

.organize-section .group .header {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .organize-section .group .header {
    font-size: 21px;
  }
}

.organize-section .group .content {
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 767.5px) {
  .organize-section .group {
    margin-bottom: 30px;
  }
}

.history-section {
  padding: 60px 0px;
  background-color: #f2f1f1;
}

.history-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .history-section .content {
    display: block;
  }
}

.history-section .content .image {
  margin-right: 30px;
  margin-bottom: 20px;
  float: left;
}

@media screen and (max-width: 1200px) {
  .history-section .content .image {
    float: none;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .history-section .content .image {
    width: 700px;
  }
}

@media screen and (max-width: 767.5px) {
  .history-section .content .image {
    width: 100%;
  }
}

.history-section .content .history-detail {
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 10px;
  width: 860px;
}

@media screen and (max-width: 1600px) {
  .history-section .content .history-detail {
    width: 640px;
  }
}

@media screen and (max-width: 1366px) {
  .history-section .content .history-detail {
    width: 450px;
  }
}

@media screen and (max-width: 1200px) {
  .history-section .content .history-detail {
    width: 100%;
  }
}

.history-section .content .know-more a {
  background-color: #414459;
  color: #fff;
  width: 110px;
  display: block;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #414459;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin: auto;
  padding: 17px 30px !important;
  width: 180px !important;
  font-size: 18px !important;
  margin-top: 20px;
}

.history-section .content .know-more a:hover {
  background-color: #fff;
  color: #414459;
  background-color: #f2f1f1 !important;
}

@media screen and (max-width: 480px) {
  .history-section .content .know-more a {
    padding: 12px 26px !important;
    width: 160px !important;
  }
}

.footer-section {
  background-color: #414459;
  padding: 50px 0px;
  color: #fff;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-group {
    margin-bottom: 10px;
  }
}

.footer-section .footer-group h4 {
  font-size: 20px;
  position: relative;
  margin-bottom: 30px;
}

.footer-section .footer-group h4::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 30px;
  left: 0;
  background-color: #fff;
  bottom: -6px;
}

.footer-section .footer-group .quote {
  font-size: 16px;
}

.footer-section .footer-group .quote p {
  margin-top: 5px;
}

.footer-section .footer-group .quote .carousel {
  height: 100px;
}

@media screen and (max-width: 1280px) {
  .footer-section .footer-group .quote .carousel {
    height: 140px;
  }
}

@media screen and (max-width: 991px) {
  .footer-section .footer-group .quote .carousel {
    height: 220px;
  }
}

@media screen and (max-width: 767px) {
  .footer-section .footer-group .quote .carousel {
    height: auto;
  }
}

.footer-section .footer-group .quote .carousel .carousel-indicators {
  margin-bottom: 0;
  bottom: -25px;
}

@media screen and (max-width: 991px) {
  .footer-section .footer-group .quote .carousel .carousel-indicators {
    bottom: -14px;
  }
}

.footer-section .footer-group .quote .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.footer-section .footer-group .contact-sub img {
  width: 22px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-section .footer-group .contact-sub p {
  padding-left: 30px;
  color: #fff;
  margin-bottom: 12px;
  word-break: break-all;
}

.footer-section .footer-group .contact-sub.mail img {
  position: relative;
  top: 5px;
}

.footer-section .footer-group .list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section .footer-group .list-group ul {
  width: 300px;
}

.footer-section .footer-group .list-group ul li {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 17px;
}

.footer-section .footer-group .list-group ul li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  left: 0;
  top: 2px;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.footer-section .footer-group .list-group ul li a {
  color: #fff;
}

.footer-section .footer-copyright {
  text-align: center;
  border-top: solid 1px rgba(255, 255, 255, 0.24);
  padding-top: 20px;
  margin-top: 10px;
}

.inner-banner {
  height: 320px;
  background: url("../images/new-church1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767.5px) {
  .inner-banner {
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .inner-banner {
    height: 230px;
  }
}

@media screen and (max-width: 450px) {
  .inner-banner {
    height: 180px;
  }
}

.inner-details {
  background-color: #f2f1f1;
  padding-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .inner-details .header {
    margin-bottom: 20px;
  }
}

.inner-details .inner-box {
  background-color: #fff;
  padding: 50px;
  width: 80%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px #737171;
          box-shadow: 0px 0px 10px #737171;
  border-radius: 20px;
  position: relative;
  top: -50px;
}

@media screen and (max-width: 1366px) {
  .inner-details .inner-box {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .inner-details .inner-box {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .inner-details .inner-box {
    top: 0px;
    padding: 30px;
  }
}

@media screen and (max-width: 450px) {
  .inner-details .inner-box {
    padding: 20px 15px;
  }
}

.inner-details .inner-box .sub-header {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 8px;
  font-family: 'latobold';
}

.inner-details .inner-box p {
  line-height: 35px;
}

.inner-details .inner-box .round-image {
  width: 250px;
  height: 250px;
  border: solid 3px #414459;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .inner-details .inner-box .round-image {
    width: 200px;
    height: 200px;
  }
}

.inner-details .inner-box .inner-sub-group {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.inner-details .inner-box .inner-sub-group.two {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.inner-details .inner-box .inner-sub-group.two .image {
  margin-right: 0px;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  .inner-details .inner-box .inner-sub-group.two .image {
    margin: 0;
    margin-bottom: 10px;
  }
}

.inner-details .inner-box .inner-sub-group .image {
  margin-right: 20px;
  border: solid 1px #414459;
}

@media screen and (max-width: 1200px) {
  .inner-details .inner-box .inner-sub-group .image {
    margin: 0;
    margin-bottom: 10px;
  }
}

.inner-details .inner-box .inner-sub-group .sub-group-detail {
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .inner-details .inner-box .inner-sub-group .sub-group-detail {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .inner-details .inner-box .inner-sub-group {
    display: block;
    padding-top: 0px;
    margin-bottom: 40px;
  }
}

.inner-details .inner-box .inner-sub-group.first {
  border: none;
  padding-top: 0;
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box .article-table {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box .article-table table {
    width: 1000px;
  }
}

.inner-details .inner-box .article-table table a {
  background-color: #414459;
  color: #fff;
  width: 110px;
  display: block;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #414459;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  width: 90px;
}

.inner-details .inner-box .article-table table a:hover {
  background-color: #fff;
  color: #414459;
}

.inner-details .inner-box .article-table table th {
  padding: 15px 10px !important;
  background-color: #efefef !important;
}

.inner-details .inner-box .article-table table td {
  vertical-align: middle;
}

.inner-details .inner-box.contact-us {
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box.contact-us {
    display: block;
    height: auto;
  }
}

.inner-details .inner-box.contact-us .left {
  width: 50%;
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box.contact-us .left {
    width: 100%;
    height: 300px;
  }
}

.inner-details .inner-box.contact-us .left iframe {
  width: 100%;
  height: 100%;
}

.inner-details .inner-box.contact-us .right {
  width: 50%;
  color: #414459;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/contact-bg.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box.contact-us .right {
    width: 100%;
    padding: 30px;
    word-break: break-word;
  }
}

@media screen and (max-width: 550px) {
  .inner-details .inner-box.contact-us .right {
    padding: 15px;
  }
}

.inner-details .inner-box.contact-us .right .contact-box {
  width: 70%;
}

@media screen and (max-width: 991px) {
  .inner-details .inner-box.contact-us .right .contact-box {
    width: 90%;
  }
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box.contact-us .right .contact-box {
    width: 100%;
  }
}

.inner-details .inner-box.contact-us .right .contact-box .sub img {
  width: 35px;
  float: left;
}

@media screen and (max-width: 991px) {
  .inner-details .inner-box.contact-us .right .contact-box .sub img {
    width: 28px;
  }
}

.inner-details .inner-box.contact-us .right .contact-box .sub p {
  padding-left: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 991px) {
  .inner-details .inner-box.contact-us .right .contact-box .sub p {
    font-size: 18px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 767.5px) {
  .inner-details .inner-box.contact-us .right .contact-box .sub p {
    font-size: 16px;
  }
}

.inner-details .inner-box.contact-us .right .contact-box .sub.phone {
  margin-top: 20px;
}

.inner-details .inner-box.contact-us .right .contact-box .sub.phone img {
  width: 30px;
}

@media screen and (max-width: 991px) {
  .inner-details .inner-box.contact-us .right .contact-box .sub.phone img {
    width: 25px;
  }
}

.inner-details .inner-box .youtube-link {
  font-size: 20px;
  font-weight: 500;
  display: block;
  word-break: break-all;
}

.inner-details .inner-box .message-heading {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}

.inner-details .inner-box .history-content {
  margin-top: 40px;
}

.inner-details .inner-box .list-committee {
  padding-left: 20px;
}

.inner-details .inner-box .list-committee li {
  list-style: disc;
}

@media screen and (max-width: 600px) {
  .inner-details {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 450px) {
  .inner-details {
    padding: 30px 0px;
  }
}

.history-content h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
  .history-content h3 {
    font-size: 18px;
  }
}

.history-content h4 {
  font-size: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 450px) {
  .history-content h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .history-content h2 {
    font-size: 24px;
  }
}

.gallery-box #demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.gallery-box .green {
  background-color: #6fb936;
}

.gallery-box .thumb {
  margin-bottom: 30px;
}

.gallery-box .thumb img {
  -webkit-box-shadow: 0px 0px 10px #ccc;
          box-shadow: 0px 0px 10px #ccc;
}

.gallery-box img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-box .transition {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 767.5px) {
  .gallery-box .transition {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gallery-box .modal-header {
  border-bottom: none;
}

.gallery-box .modal-title {
  color: #000;
}

.gallery-box .modal-footer {
  display: none;
}

.fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.43) !important;
}

.fancybox-overlay .fancybox-close {
  background-color: #414459;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.fancybox-overlay .fancybox-close::after {
  position: absolute;
  content: '\00d7';
  position: relative;
  top: -4px;
}

.fancybox-overlay .fancybox-nav span {
  background-color: #414459;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.fancybox-overlay .fancybox-nav.fancybox-next span::after {
  position: absolute;
  content: '\203A';
  position: relative;
  top: -4px;
}

.fancybox-overlay .fancybox-nav.fancybox-prev span::after {
  position: absolute;
  content: '\2039';
  position: relative;
  top: -4px;
}

.memory-section {
  padding: 60px 0px;
  background-color: #f2f1f1;
  text-align: center;
}

.memory-section .round-image1 {
  width: 250px;
  height: 250px;
  border: solid 3px #414459;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .memory-section .round-image1 {
    width: 200px;
    height: 200px;
  }
}

.memory-section a {
  background-color: #414459;
  color: #fff;
  width: 110px;
  display: block;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #414459;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin: auto;
}

.memory-section p {
  font-size: 22px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */