$black:#000;
$white:#fff;
$menu-color:#757077;
//$primary-color: rgba(146,38,38,1);
$primary-color: #414459;
$hover-color:#F9F8F4;

@mixin image-background{
    background-size: 100%;
    background-position: bottom;
}

@mixin primary-button{
    background-color: $primary-color;
    color: $white;
    width: 110px;
    display: block;
    text-align: center;
    padding: 8px 0px;
    font-size: 14px;
    border-radius: 4px;
    border:solid 1px $primary-color;
    transition: 0.3s ease-out;
}
@mixin primary-button-hover{
    background-color: $white;
    color: $primary-color;
}

@mixin text-detail{
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.align-center{
    align-items: center;
}
.container-fluid{
    padding:0px 60px;
    @media screen and (max-width:1200px){
        padding:0px 30px;
    }
    @media screen and (max-width:991px){
        padding:0px 15px;
    }
}
ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
}
body{
    color: $black;
}
.position-relative{
    position:relative;
}
.mm-wrapper__blocker{
    display: none !important;
}
.header{
    font-size: 40px;
    color: $black;
    margin-bottom: 40px;
    font-family: 'latobold';
    text-align: center;
    @media screen and (max-width:450.5px){
        font-size: 30px;
    }
}

@media screen and (max-width:560px)
{
    :root {
        --mm-size: 85% !important;
        --mm-min-size: 174px !important;
        --mm-max-size: 260px !important;
    }
}
nav{
    .mm-panel{
        border-right: solid 1px #ccc;
    }
}
.mm-wrapper--opened 
{
    .menu-close 
    {
        display: flex !important;
        position: absolute;
        left: 0;
        top: 0;
        width:35px;
        height:35px;
        background-color: $white;
        justify-content: center;
        align-items: center;
        a{
            display: block;
            img{
                width:13px;
                height:13px;
            }
        }

        &:hover{
            background-color: $hover-color;
            cursor: pointer;
        }
    }   
    li{
        .mm-listitem{
            a{
                font-size: 14px;;
            }
        }
    }
}


.navigate-section{   
    padding:10px 0px;       
    z-index: 3;
    background-color: $primary-color;
    .outer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:992px){
            display: block;
        }
        .left{
            display: flex;
            align-items: center;
            @media screen and (max-width:992px){
                justify-content: center;
            }
            .logo{
                width: 40px;
                display: inline-block;
                @media screen and (max-width:430px){
                    width:27px;
                }
            }
            span{
                color: $white;
                font-size: 24px;
                margin-left: 10px;
                font-weight: 300;
                @media screen and (max-width:1024px){
                    font-size: 20px;
                }
                @media screen and (max-width:430px){
                    font-size: 15px;
                }
                @media screen and (max-width:380px){
                    font-size: 14px;
                }
            }
        }
        .right{
            display: flex;
            @media screen and (max-width:992px){
                justify-content: center;
            }
            @media screen and (max-width:560px){
                display: block;
            }
            .menu-close {
                display: none;
            }  
            .menu-open{
                a{
                    border:solid 1px $white;
                    padding: 8px 20px;
                    color: $white;
                    display: block;
                    transition: all 0.3s;
                    @media screen and (max-width:560px){
                        width: 84px;
                        margin: auto;
                        margin-top: 10px;
                        padding:5px 20px;
                    }
                    @media screen and (max-width:430px){
                        font-size: 14px;
                        width: 80px;
                        display: block;
                     }  
                    &:hover{
                        background-color: $hover-color;
                        color: $primary-color;
                        transition: all 0.3s;
                    }
                }
            }    
            .mail-number{
                display: flex;
                align-items: center;
                margin-right:20px;
                @media screen and (max-width:560px){
                   display:none;
                }  
                @media screen and (max-width:430px){
                    margin-right:0;
                    justify-content: space-around;
                 }              
                .group{
                    margin-left:15px;
                    color: $white;
                    display: flex;
                    align-items: center;
                    @media screen and (max-width:430px){
                        margin-left: 0;
                        font-size: 13px;
                    }
                   img{
                       width:20px;
                       margin-right: 5px;
                       @media screen and (max-width:430px){
                            display: none;
                        }
                   }
                }
            }        
        }
    }    
}

.slider-section{
    .banner{
        background:url('../images/new-church1.jpg') no-repeat;        
        height: 660px;
        @include image-background;
        background-position: 0px -319px;
        @media screen and (max-width:1600px){
            height:580px;
            background-position: center;
        }
        @media screen and (max-width:1367px){
            height:540px;
        }
        @media screen and (max-width:1024px){
            height:430px;
        }
        @media screen and (max-width:767.5px){
            height:380px;
        }
        @media screen and (max-width:670.5px){
            height:280px;
        }
        @media screen and (max-width:490.5px){
            height:250px;
        }
        @media screen and (max-width:430.5px){
            height:190px;
        }
        &.banner2{
            background:url('../images/church2.jpg') no-repeat;
           @include image-background;
           background-position: 0px -75px;
        }
        &.banner3{
            background:url('../images/church3.jpg') no-repeat;
           @include image-background;
        }
        &.banner4{
            background:url('../images/church4.jpg') no-repeat;
           @include image-background;
           background-position: 0px -204px;
           @media screen and (max-width:1280px){
            background-position: 0px 0px;
        }
        }
        &.banner5{
            background:url('../images/church5.jpg') no-repeat;
           @include image-background;
           background-position: center;
        }
    }
    .carousel-indicators{
        bottom:10px;
        @media screen and (max-width:490.5px){
           bottom:0px;
        }
        @media screen and (max-width:430.5px){
            bottom:-5px;
        }
        button{
            width: 15px !important;
            height: 15px !important;
            margin: 0px 6px !important;
            border: solid 2px $white !important;
            border-radius: 50%;
            background-color: $primary-color !important;     
            @media screen and (max-width:490.5px){
                width: 10px !important;
                height: 10px !important;
             }       
        }
    }
}

.menu-section{
    .mm-panel{
        background-color: $white;
        .mm-navbar{
            background-color: $white;
            a{
                color:$menu-color;                
            }            
        }
        .mm-listview{
            li{
                @media screen and (max-width:450px){
                    font-size: 13px !important;
                }
                a{
                    transition: all 0.3s;
                    &:hover{
                        color: $primary-color;
                        background-color: $hover-color;
                        transition: all 0.3s;
                        &::after{
                            border-color: $primary-color;
                            transition: all 0.3s;
                        }
                    }
                }

                &::after{
                    left:0;
                }
            }
        }
    }
}

.leader-section {
    padding: 50px 0px; 

    .leader-group{
        box-shadow: 0px 0px 10px #a99f9f;
        margin: 10px 40px;
    padding: 30px;
    border-radius: 10px;
    @media screen and (max-width:1800px){
        margin: 10px 30px;
    }
    @media screen and (max-width:1600px){
        margin: 10px 20px;
    }
    .image {
            width: 200px;
            height: 190px;
            border-radius: 50%;
            border: solid 2px $primary-color;
            overflow: hidden;
            margin: auto;
            margin-bottom: 20px;
        }
        .name {
            text-align: center;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 15px;
            font-size: 18px;
            height: 75px;
            @media screen and (max-width:1280px){
                height: 125px;
            }  @media screen and (max-width:1280px){
                height: 125px;
            }
            span{
                display: block;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .detail {
            @include text-detail;
        }
        .content{
            @include text-detail;
        }
        a{
            @include primary-button;
            @media screen and (max-width:599px){
                margin: auto;
                margin-top: 20px !important;
            }

            &:hover{
                @include primary-button-hover;
            }
        }        
    }

   .owl-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: -110px;
        bottom: 0;
        height: 50px;
        margin: auto !important;
        font-size: 52px;
      
        .owl-prev {
          left: -20px;
          position: absolute;
          background-color: red;

          @media screen and (max-width:991px){
            left:-6px;
          }
          span{           
            color: grey;
          }
          &:hover{
            span{
                color: $primary-color;
            }
        }            
        }  
        .owl-next {
          right: -20px;
          position: absolute;
          @media screen and (max-width:991px){
            right:-6px;
          }
          span{           
            color: grey;
          }  
          &:hover{
            span{
                color: $primary-color;
            }
        }    
        }     
       
      }
}



.time-section {
    background-color: $primary-color;      
    padding:40px 0px;
    h2{
        text-align: center;
        color:$white;
        margin-bottom: 30px;
    }
    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1050px;
        margin: auto; @media screen and (max-width:1280px){
            width:900px;
           }
        @media screen and (max-width:1024px){
           width:100%;
          }
          @media screen and (max-width:991px){
           display: block;
           }
        .box{
            width: 250px;
            height: 180px;
            background-color: #fff;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            @media screen and (max-width:1280px){
                width:210px;          
              }
            @media screen and (max-width:991px){
                 width:230px;          
               }
            @media screen and (max-width:991px){             
                margin: auto;
                margin-bottom: 20px;
               }
            h3{
                font-size: 22px;
            }
            p{
                margin-bottom:5px;
            }
        }
    }
}

.organize-section {
    padding: 60px 0px;
    .group{
        .image {
            width: 60px;
            margin: auto;
            margin-bottom: 15px;
            height: 70px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        a{
            @include primary-button;
            margin:auto;
            &:hover{
                @include primary-button-hover;
            }
            @media screen and (max-width:767.5px){
                margin:auto;
            }
        }
        .header {
            font-size: 25px;
            line-height: 25px;
            margin-bottom: 10px;

            @media screen and (max-width:991px){
                font-size: 21px;
            }
        }
        .content{
            @include text-detail;
            text-align: center;
        }

        @media screen and (max-width:767.5px){
            margin-bottom:30px;
        }
    }
}

.history-section {
    padding: 60px 0px;
    background-color: #f2f1f1;
    .content{
        display: flex;
        align-items: center;
        @media screen and (max-width:1200px){
            display: block;
        }
        .image{           
            margin-right: 30px;
            margin-bottom: 20px;
            float: left;
            @media screen and (max-width:1200px){
                float: none;
                margin: auto;
                margin-bottom: 20px;
            }
            @media screen and (max-width:991px){
                width: 700px;
            }
            @media screen and (max-width:767.5px){
                width: 100%;
            }
        }
        .history-detail{
            @include text-detail;
            width:860px;
            @media screen and (max-width:1600px){
                width:640px;
            }
            @media screen and (max-width:1366px){
                width:450px;
            }
            @media screen and (max-width:1200px){
                width:100%;
            }
        }
        .know-more{
            a{
                @include primary-button;
                margin: auto;
                padding: 17px 30px !important;
                width: 180px !important;
                font-size: 18px !important;
                margin-top:20px;

                &:hover{
                    @include primary-button-hover;
                    background-color: #f2f1f1 !important;
                }
                @media screen and (max-width:480px){
                    padding: 12px 26px !important;
                    width: 160px !important;
                }

            }
        }
    }    
}

.footer-section{
    background-color: $primary-color;
    padding:50px 0px;
    color:$white;
    padding-bottom: 20px;
    .footer-group{
        @media screen and (max-width:767px){
            margin-bottom:10px;
        }
        h4{
            font-size: 20px;
            position:relative; 
            margin-bottom: 30px;           
            &::after{
                position: absolute;
                content: "";
                height: 3px;
                width: 30px;
                left: 0;
                background-color: #fff;
                bottom: -6px;
            }
        }
        .quote{
            font-size: 16px;
            p{
                margin-top:5px;
            }
            .carousel{
                height:100px;                
                @media screen and (max-width:1280px){
                    height:140px;
                }
                @media screen and (max-width:991px){
                    height:220px;
                }
                @media screen and (max-width:767px){
                    height:auto;
                }
                .carousel-indicators{
                    margin-bottom: 0;
                    bottom:-25px;
                    @media screen and (max-width:991px){
                        bottom:-14px;
                    }
                    button{
                        width: 10px;
                        height:10px;
                        border-radius: 50%;
                    }
                }
            }
        } 
        .contact-sub {
           img{
                width: 22px;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
           }
           p{
            padding-left:30px;
            color: #fff;
            margin-bottom: 12px;
            word-break: break-all;
           }
           &.mail{
                img{
                    position:relative;
                    top:5px;
                }
           }

        }  
        .list-group{
            display: flex;
            flex-direction: row;
            ul{
               width: 300px;
                li{
                    display: block;
                    margin-bottom: 20px;
                    position: relative;
                    padding-left:17px;
                    &::after{
                        position:absolute;
                        content:"";
                        width:8px;
                        height:8px;
                        background-color:$white;
                        left:0;
                        top:2px;
                        bottom:0;
                        margin: auto;
                        border-radius: 50%;;
                    }
                    a{
                        color: $white;
                    }
                }
            }
        }   
    }
    .footer-copyright {
        text-align: center;
        border-top: solid 1px rgba(255,255,255,0.24);
        padding-top: 20px;
        margin-top: 10px;
    }
}


.inner-banner {
    height: 320px;   
    background: url('../images/new-church1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width:767.5px){
        height:250px;
     }
    @media screen and (max-width:600px){
       height:230px;
    }
    @media screen and (max-width:450px){
        height:180px;
     }
}

.inner-details{
    background-color: #f2f1f1;
    padding-bottom: 10px;
    .header{
        @media screen and (max-width:450px){
           margin-bottom: 20px;
        }
    }
    .inner-box{
        background-color: $white;
        padding: 50px;
        width: 80%;
        margin: auto;
        box-shadow: 0px 0px 10px #737171;
        border-radius: 20px;
        position: relative;
        top: -50px;
        @media screen and (max-width:1366px){
            width:90%;
        }
        @media screen and (max-width:1024px){
            width:100%;
        }
        @media screen and (max-width:600px){
            top:0px;
            padding:30px;
        }
        @media screen and (max-width:450px){          
            padding:20px 15px;
        }
        .sub-header {
            font-size: 20px;
            text-decoration: underline;
            margin-bottom: 8px;
            font-family: 'latobold';
        }
        p{
            line-height: 35px;
        }
        .round-image {
            width: 250px;
            height: 250px;
            border: solid 3px $primary-color;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            margin-bottom: 30px;
            @media screen and (max-width:450px){
                width:200px;
                height:200px;
             }
        }

        .inner-sub-group {
            display: block;
            align-items: center;
            margin-bottom: 60px;
            &.two{
                flex-flow: row-reverse;
                .image{
                    margin-right: 0px;
                    margin-left:20px;
                    @media screen and (max-width:1200px){
                        margin:0;
                        margin-bottom: 10px;
                      }
                }
            }
            .image{
                margin-right:20px;
                border:solid 1px $primary-color;
                @media screen and (max-width:1200px){
                   margin:0;
                   margin-bottom: 10px;
                 }
            }
            .sub-group-detail{               
                @include text-detail;               
                 @media screen and (max-width:1200px){
                    width:100%;
                 }
            }
            @media screen and (max-width:1200px){
                display: block;              
                padding-top: 0px;
                margin-bottom: 40px;
             } 
             &.first{
                border:none;
                padding-top:0;
             }           
        }
        .article-table{
            @media screen and (max-width:767.5px){
                overflow-x: scroll;
            }
            table{
                @media screen and (max-width:767.5px){
                    width:1000px;
                }
                a{
                    @include primary-button;
                    width:90px;
                    &:hover{
                        @include primary-button-hover;
                    }
                }
                th{
                    padding: 15px 10px !important;
                    background-color: #efefef !important;
                }
                td{
                    vertical-align: middle;
                }
            }
        }       
        
        &.contact-us{
            padding:0;
            overflow: hidden;
            display: flex;
            justify-content: space-between;        
            height:500px;  
            @media screen and (max-width:767.5px){
                display: block;
                height: auto;
              }
            .left{
                width:50%;
                @media screen and (max-width:767.5px){
                    width:100%;
                    height: 300px;
                  }
                iframe{
                    width:100%;
                    height:100%;
                }
            }
            .right{
                width:50%;               
                color:$primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background: url('../images/contact-bg.png') no-repeat center;
                background-size: cover;         
                @media screen and (max-width:767.5px){
                    width:100%;
                    padding:30px;
                    word-break: break-word;
                  }   
                  @media screen and (max-width:550px){                   
                    padding:15px;                    
                  }     
                .contact-box{
                    width: 70%;
                    @media screen and (max-width:991px){
                        width:90%;
                     }
                     @media screen and (max-width:767.5px){
                        width:100%;
                      }
                    .sub{
                        img{
                            width: 35px;
                            float: left;
                            @media screen and (max-width:991px){
                               width:28px;
                              }
                        }
                        p{
                            padding-left: 45px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 25px;
                            @media screen and (max-width:991px){
                               font-size: 18px;
                               padding-left:35px;
                             }
                             @media screen and (max-width:767.5px){
                                font-size: 16px;                                
                              }
                        }

                        &.phone{
                            margin-top: 20px;
                            img{
                                width:30px;
                                @media screen and (max-width:991px){
                                    width:25px;
                                  }
                            }
                        }
                    }
                }
            }
        }
        .youtube-link{
            font-size: 20px;
            font-weight: 500;
            display: block;
            word-break: break-all;
        }
        .message-heading{
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            margin-bottom:30px;
        }
        .history-content{
            margin-top:40px;
        }
        .list-committee{
            padding-left:20px;
            li{
                list-style: disc;
            }
        }
    }
    @media screen and (max-width:600px){
       padding:50px 0px;
    }
    @media screen and (max-width:450px){
        padding:30px 0px;
     }
}

.history-content{
    h3{
        font-size: 22px;
        margin-bottom: 20px;
        @media screen and (max-width:450px){
            font-size: 18px;
        }
    }
    h4{
        font-size: 20px;      
        margin-bottom: 40px;
        @media screen and (max-width:450px){
            font-size: 18px;
        }
    }
    h2{
        @media screen and (max-width:450px){
            font-size: 24px;
        }
    }
}

  
.gallery-box{
    #demo {
        height:100%;
        position:relative;
        overflow:hidden;
      }    
      .green{
        background-color:#6fb936;
      }
        .thumb{
            margin-bottom: 30px;
            img{
                box-shadow: 0px 0px 10px #ccc;
            }
        }     
      img.zoom {
          width: 100%;
          height: 200px;
          border-radius:5px;
          object-fit:cover;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          transition:all 0.3s ease-in-out;
      }
              
       
      .transition {
          -webkit-transform: scale(1.1); 
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
          @media screen and (max-width:767.5px){
            transform: scale(1);
         }
      }
          .modal-header {
         
           border-bottom: none;
      }
    .modal-title {
        color:#000;
    }
    .modal-footer{
    display:none;  
    }   
}


.fancybox-overlay{
    background-color:rgba(0,0,0,0.43) !important;
    .fancybox-close{
        background-color: $primary-color;
        top: -10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        &::after{
            position: absolute;
            content:'\00d7';
            position: relative;
            top: -4px;
        }        
    }
    .fancybox-nav{
        span{
            background-color: $primary-color;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }
        &.fancybox-next{
            span{
                &::after{
                    position: absolute;
                    content:'\203A';
                    position: relative;
                    top: -4px;
                }
            }
        }
        &.fancybox-prev{
            span{
                &::after{
                    position: absolute;
                    content:'\2039';
                    position: relative;
                    top: -4px;
                }
            }
        }
    }
}

.memory-section{
    padding: 60px 0px;
    background-color: #f2f1f1; 
    text-align: center;
    .round-image1 {
        width: 250px;
        height: 250px;
        border: solid 3px $primary-color;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 30px;
        @media screen and (max-width:450px){
            width:200px;
            height:200px;
         }
    }
    a{
        @include primary-button;
        margin:auto;
    }
    p{
        font-size: 22px;
        font-weight: 600;
    }
}